<div class='mt-4'>
    <form method='POST'>
        <div class='form-group'>
            <label for='exampleInputEmail1'>Từ khóa</label>
            <input name='q' type='text' class='form-control' id='exampleInputEmail1' placeholder='Enter key' />

        </div>
        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>